html {
  transition: background-color 0.3s, color 0.3s;
  scroll-behavior: smooth;
}

html.light {
  background-color: white;
  color: black;
}

html.dark {
  background-color: #1E232EFF;
  color: white;
}

.container {
  margin: 0 auto;
}

