html {
  transition: background-color 0.3s, color 0.3s;
  scroll-behavior: smooth;
}

html.light {
  background-color: white;
  color: black;
}

html.dark {
  background-color: #1e232eff;
  color: white;
}

.container {
  margin: 0 auto;
}

#visit-card-preview * {
  border: none !important;
  outline: none !important;
  text-decoration: none !important;
  box-shadow: none !important;
}


span, p, div {
  text-decoration: none !important;
}